/* Our default values set as CSS variables */
:root {
  --color-bg: /* #69F7BE */ #000000;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HKGrotesk";
  --font-family-header: "HKGrotesk";
}

@font-face {
  font-family: HKGrotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HKGrotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

* {
  box-sizing: border-box; margin: 0; padding: 0;
}

html, body {
  font-family: HKGrotesk;
  background-color: var(--color-bg);
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.esports {
  width: 100%;
  
  background-image: url("images/esports.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  filter: blur(4px);
  
  position: absolute;
}

header {  
  color: white;      
  font-weight: bold;
  font-size: 40px;
  margin: 5px auto;  
  text-align: center;
  max-width: 1200px;
  background-color: black;

  position: relative;
  vertical-align: auto;
}

main {
  background-color: rgba(0, 0, 0, 0.85);
  max-width: 1200px;
  margin: 120px auto;
  padding: 100px 0;

  position: relative;
}

footer {
  font-size: 14px;
  justify-content: space-between;
  margin: 5px auto;
  width: 1200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 12px 0 0 0;
  color: white;
}

main div * {
  margin: 0 6px 0 6px;
}

[hidden] {
  display: none !important;
}

button  {
  font-family: HKGrotesk;
  padding: 20px;
  font-size: 16px;
  line-height: 1px;
  height: 20px;
  align-items: center;
  background: darkblue;
  border: 0px;
  border-bottom: 3px solid purple;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

button:enabled{ 
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:hover:enabled{
  background-color: purple;
  border-bottom: 3px solid darkblue;
}

div {
  margin: 12px 0 12px 0;
  font-size: 16px;
}

main div label{
  width: 10%;
  padding-top: 10px;
  border-radius: 50%;
  border-left: 10px solid blue;
  border-right: 10px solid purple;
  font-size: 16px;
  text-transform: uppercase;
}

main div input{
  width: 20%;
  padding: 10px 2px;
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  color: white;
}

main div input[type=date], main div select{
  text-align: center;
}

main div select{
  width: 20%;
  padding: 10px 2px;
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  color: white;
}

